<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Example {{ example_number }}</title>
		<meta name="author" content="Felipe Correa" />
	</head>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{ url_for('static', filename='OpenLayers-2.12/lib/OpenLayers.js') }}"></script>
	<script src="{{ url_for('static', filename='dojo/dojo.js') }}"></script>
	<script>
		var icon_path = "{{ url_for('static', filename='icons2') }}"
	</script>
	<script type="text/javascript" src="{{ url_for('static', filename='.') }}examples_js/example{{ example_number }}.js"></script>

	<style type="text/css">
		#map {
			width: 900px;
			height: 500px;
			border: 1px solid black;
		}
	</style>
	<body onload="init()">
		<center>
			<h1> Example {{ example_number }} </h1>
			<div id="map" class="olMap"></div>
			<div id="control">
		{% if example_number > 1 %}
			<a href='/example/{{ example_number -1 }}'>back</a>
		{% endif %}
		<a href='/example/{{ example_number +1 }}'>next</a>
		</div>
		<div id="main-content"></div>
		</center>
	</body>
</html>