<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>sample2</title>
		<meta name="author" content="Felipe Correa" />
		<!-- Date: 2013-04-27 -->
	</head>
  <script type="text/javascript" src="{{ url_for('static', filename='OpenLayers-2.12/lib/OpenLayers.js') }}"></script>
	<!-- <script src="./static/OpenLayers-2.12/lib/OpenLayers.js"></script> -->
	<script type="text/javascript">
        var map, layer;
        var server = "http://localhost/cgi-bin/mapserv"

        function init(){
            map = new OpenLayers.Map( 'map' );
	    layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",       
		"http://labs.metacarta.com/wms/vmap0", {
		 layers: 'basic', 
		 isBaseLayer: true
 	         } );

          // var pictures = new OpenLayers.Layer.Vector("Desforastation Pictures",{
          //   strategies: [new OpenLayers.Strategy.BBOX()],
          //   protocol: new OpenLayers.Protocol.WFS({
          //     url: "http://localhost/cgi-bin/mapserv?map=/var/www/mapserver-test/mapfile.map&",
          //     propertyNames: ['horizontalaccuracy','verticalaccuracy','path','altitude', 'msGeometry'],
          //     geometryName: 'msGeometry',
          //     featureType: 'pictures',
          //     featurePrefix: 'ms',
          //     srsName: 'EPSG:4326',
          //     version: '1.0.0'
          //   }),
          //   onFeatureInsert: function(feature){
          //     var bbbb = 0;
          //   }
          // });
          
          map.addLayer(layer);
          
          // map.addLayer(pictures);
          map.zoomToMaxExtent();
          map.addControl(new OpenLayers.Control.LayerSwitcher());
        }
    </script>
    <style type="text/css">
        #map {
            width: 800px;
            height: 800px;
            border: 1px solid black;
        }
    </style>
	<body onload="init()">
		<div id="map" class="olMap"/>
	</body>
</html>

