{% extends 'base.html' %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='chart2/rickshaw.css') }}">
<style>
/*
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
#legend{
  padding-top: 20px;
}
*/

#chart_container {
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        display: inline-block;
        margin-left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
#legend {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 10px;
}


</style>
{% endblock %}	


{% block body%}
<div class="row">
<div class="span12">
  <div class="input-prepend input-append">
    <span class="add-on">xively.com/feeds/</span>
    <input class="span2 input-large" id="appendedPrependedInput" type="text">
    <button class="btn" type="button">Go!</button>
  </div>
</div>
</div>
<div class="row">
  <div  id="xively-container"></div>
</div>
<div class="row">

<div class="span12">
  <div id="chart_container">
    <div id="y_axis"></div>
    <div id="chart"></div>
  </div>

  <div id="legend"></div>
  </div>

  </div>
</div>
<div>

{% endblock %}

{% block lastbody%}
{% endblock %}

{% block footer %}
{% endblock %}

{% block customjs %}
    <script>
      var icon_path = "{{ url_for('static', filename='icons2') }}"
      var uploads_path = "{{ url_for('static', filename='uploads') }}"
    </script>

    <script src="http://d23cj0cdvyoxg0.cloudfront.net/xivelyjs-1.0.4.min.js"></script> 

    <script type="text/javascript" src="{{ url_for('static', filename='chart2/d3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chart2/d3.layout.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='chart2/rickshaw.min.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='chart2.js') }}"></script>
{% endblock %}